
<div >
    <div class="bg-footer py-5">
        <div class="container">
            <div class="row text-white" >
                <div class="col-md-4 text-center">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
        
                </div>
                <div class="col-md-4 text-center">
                    <h2>AROUND THE WEB</h2>
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="icons"><i class="fa-brands fa-facebook"></i></div>
                        <div class="icons"><i class="fa-brands fa-twitter"></i></div>
                        <div class="icons"><i class="fa-brands fa-linkedin"></i></div>
                        <div class="icons"><i class="fa-solid fa-globe"></i></div>
                    </div>
        
                </div>
                <div class="col-md-4 text-center">
                    <h2>ABOUT FREELANCER</h2>
                    <p>Freelance is a free to use, licensed Bootstrap theme created</p>
                    <p>by Route</p>
        
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-3 bg-dark text-white"><p>Copyright © Your Website 2021</p></div>
</div>
