.bg-footer{
    background-color: #2c3e50 !important;
}
.icons{
    width: 40px; 
    margin-inline: 10px;
    height: 40px;
    border-radius: 50%;
    border: white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}