
<div class="bg-home">
    <div class="container vh-100 d-flex align-items-center justify-content-center ">
        <div class="row">
            <div class="position-relative">
                <h1 class="text-center fw-bolder text-white">ABOUT COMPONENT</h1>
                <div class="d-flex justify-content-center align-items-center py-4">
                    <div class="line me-3"></div>
                    <i class="fa-solid fa-star me-3 text-white"></i>
                    <div class="line me-4"></div>
                </div>
    
            </div>
            
            <div class="row">
                <div class="col-md-6 text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
                <div class="col-md-6 text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
            </div>
    
        </div>
    
    </div>

</div>

