<div class="container vh-100 mt-5">
    <div class="pt-5">

        <h1 class="py-3 text-center">CONATCT SECTION</h1>
        <div class="d-flex justify-content-center align-items-center py-4">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star me-3 "></i>
            <div class="line me-4"></div>
  
        </div>
    </div>
    <div class=" mt-5">
        <div class=" mx-auto ">
                <input type="text" placeholder="username" class="w-75 form-control mx-auto">
                <input type="number" placeholder="userage" class="w-75 form-control my-5 mx-auto">
                <input type="email" placeholder="useremail" class="w-75 form-control mx-auto">
                <input type="password" placeholder="userpassword" class="w-75 form-control my-5 mx-auto">
                
                <button class="btn btn-success spaces ">send message</button>
        </div>
        

    </div>
  

   
</div>