.layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1abc9ce6;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.card:hover .layer{
    opacity: 1;
}
.line{
    width: 80px;
    height: 5px;
    background-color: black;
    
}