<div class="container my-5">
    <div class="py-4">
        <h1 class="text-center mt-5">PORTFOLIO COMPONENT</h1>
        <div class="d-flex justify-content-center align-items-center py-4">
          <div class="line me-3"></div>
          <i class="fa-solid fa-star me-3 "></i>
          <div class="line me-4"></div>

      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card position-relative overflow-hidden">
            <img src="assets/images/poert1.png" class="card-img-top" alt="..."> 
            <div class="layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="assets/images/port2.png" class="card-img-top" alt="..."> 
            <div class="layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="assets/images/port3.png" class="card-img-top" alt="..."> 
            <div class="layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="assets/images/poert1.png" class="card-img-top" alt="...">
            <div class="layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div> 
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="assets/images/port2.png" class="card-img-top" alt="...">
            <div class="layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div> 
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="assets/images/port3.png" class="card-img-top" alt="..."> 
            <div class="layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>

        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    
    </div>
  </div>
</div>



        
      </div>
</div>
