
<div class="bg-home">
    <div class="container d-flex justify-content-center align-items-center mt-5"> 
        <div class="mx-auto text-center py-5 text-white" >
            <div class="w-100 pt-5">
                <img src="assets/images/avataaars.svg" class="w-50" alt="" srcset="">
            </div>
            <h1 class="pt-4">START FRAMEWORK</h1>
            <div class="d-flex justify-content-center align-items-center py-4">
                <div class="line me-3"></div>
                <i class="fa-solid fa-star me-3 text-white"></i>
                <div class="line me-4"></div>
            </div>
            <p class="py-4">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>
